.navbar img
{
    height: 100%;
    margin-left: 20px;
}

.button
{
  position: relative;
  overflow: hidden;
  padding: 3px;
}

.button::before {
  top: 0;
  transform-origin: left;
}

.button::after {
  bottom: 0;
  transform-origin: right;
}
.button::before,
.button::after
{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transition: all .5s;
}

.button:hover::before,
.button:hover::after {
    transform: scaleX(1);
}
.banner
{
  background-image: url(Images/Location-images/seals2.jpg);
  background-size: cover;
  min-height: 55vh;
  background-position: center;
  /* position: relative; */
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.cont
{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    align-items: center;
}
.para
{
    /* position: relative; */
    top: 0;
  width: 100%;
  /* height: auto; */
  padding: 20px;
  /* margin-top: 20%; */
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  text-align: center;
  /* border: 1px solid white; */
}
.para h1
{
    color: #ffffff;
}
form
{
    height: auto;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    background-color:  rgba(0, 0, 0, 0.336);
    border-radius: 10px;
}
form input
{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid black;
}
.name
{
  width: 99%;
  /* margin-top: 10px; */
  display: flex;
}
.age
{
  width: 98%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid white; */
}
.bot input
{
  background-color: blue; /* For browsers that do not support gradients */
background-image: linear-gradient(to bottom right, lightblue,rgb(98, 98, 197) );
  color: #ffffff;
}

footer p:hover
{
  color: #ffffff;
  transition: 0s all ease;
}
footer a
{
    text-decoration: none;
}
@media (max-width: 360px)
{
  .age
  {
    margin: 0%;
    display: block;
  }
}
@media (max-width: 768px)
{
.name
{
  display: block;
}
form
{
  width: 100%;
}
.cont
{
  display: block;
  padding: 5%;
}

}